<h1>Edit Cocktails</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>Create a new cocktail</h1>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>


<hr>
<%= link_to cocktails_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>

